[submodule "vendor/github.com/jpoirier/gortlsdr"]
	path = vendor/github.com/jpoirier/gortlsdr
	url = https://github.com/jpoirier/gortlsdr
[submodule "vendor/github.com/hztools"]
	path = vendor/github.com/hztools
	url = https://github.com/hztools/go-sdr
